body {
    background: -webkit-linear-gradient(left, rgba(57, 49, 175, .9), rgba(0, 198, 255, .9));
}

.navbar-collapse .nav-link {
    padding: 5px;
}

#subjects-list {
    margin-top: 10px;
}

@media screen and (min-width: 576px) {
    #subjects-button {
        display: none;
    }

    #subjects-list {
        display: block;
    }
}

#profile-resume {
    display: none;
}


.layout-container {
    display: flex;
    flex-wrap: wrap;
}

.left-section {
    width: 100%;
}

.middle-section {
    width: 100%;
}

.right-section {
    width: 100%;
}

@media screen and (min-width: 576px) {
    .left-section {
        width: 25%;
    }

    .middle-section {
        width: 75%;
    }

    .right-section {
        width: 100%;
    }

    #subjects-list {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .left-section {
        width: 16%;
    }

    .middle-section {
        width: 60%;
    }

    .right-section {
        width: 24%;
    }

    #profile-resume {
        display: block;
        margin-bottom: 20px;
    }

    #profile-resume img {
        width: 100%;
    }
}
